body {
  background-color: aliceblue;
}
* {
  padding: 0px;
  margin: 0px;
}
nav {
  font-family: 'Shipori B1',sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 70px;
  background-color: black;
  color: white;
  text-align: center;
}
nav ul li {
  padding-left: 0;
  padding-right: 12px;
  font-family: 'Shipori', sans serif;
}
.brand img {
  width: 124px;
  padding-left: 0;
  padding-right: 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
#title {
    text-align: center;
    font-family: Sans-serif;
  }
  #description {
    text-align: center;
  }
  #He {
    width: 800px;
    padding: 40px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
  }
  #name {
    width: 772px;
    padding: 15px;
    border-radius: 10px;
  }
  #cname {
    width: 740px;
    padding: 15px;
    border-radius: 10px;
  }
  #locname {
    width: 740px;
    padding: 15px;
    border-radius: 10px;
  }
  #To {
   width: 800px;
    padding: 40px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    font-size: 20px; 
  }
  #dropdown {
    width: 800px;
    padding: 15px;
    border-radius: 10px;
  }
  #comment {
    width: 770px;
    padding: 15px;
    height: 120px;
    border-radius: 10px;
  }
  #urgency {
    width: 800px;
    padding: 15px;
    border-radius: 10px;
  }
  #qs {
    width: 800px;
    padding: 40px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;  
  }
  #question {
    width: 772px;
    padding: 15px;
    border-radius: 10px;
  }
  #submit {
    color: white;
    width: 800px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 3%;
    background-color: #08e5ff;
  }
  body {
   background-color: white;
   font-family: 'Roboto', sans-serif;
  }
  #captchaBackground {
   height: 220px;
   width: 250px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  }
  #captchaHeading {
   color: white;
  }
  #captcha {
   height: 80%;
   width: 80%;
   font-size: 30px;
   letter-spacing: 3px;
   margin: auto;
   display: block;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  }
  .center {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  #submitButton {
   margin-top: 2em;
   margin-bottom: 2em;
   background-color: #08e5ff;
   border: 0px;
   font-weight: bold;
  }
  #refreshButton {
   background-color: #08e5ff;
   border: 0px;
   font-weight: bold;
  }
  #textBox {
   height: 25px;
  }
  .incorrectCaptcha {
    color: #FF0000;
   }
   .correctCaptcha {
    color: #7FFF00;
   }
