body {
    background-color: aliceblue;
}
* {
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Shipori Antique B1', sans serif;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}
nav ul li {
    padding-left: 0;
    padding-right: 12px;
    font-family: 'Shipori', sans serif;
}
.brand img {
    width: 124px;
    padding-left: 0;
    padding-right: 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
